@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');

$charcoal: #bbb;
$darkblue: #024059;
$teal: #03A696;
$green: #63BF84;
$yellow: #F5ED0F;
$orange: #F28963;

.welcome-message {
  align-items: center;
  color: black;
  display: flex;
}

.main-header {
  align-items: center;
  border-bottom: 1px solid $charcoal;
  display: flex;
  font-family: 'Baloo Da', cursive;
  height: 100px;
  padding: 0 20px;

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }
}

.main-header > Nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.bolt {
  color: $yellow;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
