body {
  font-family: 'Baloo Da', cursive;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
}

.alert {
  margin: 30px;
  font-family: 'Baloo Da', cursive;
}

main {
  padding-bottom: 60px;
  margin-top: 120px;
}
