@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');

$darkblue: #024059;
$teal: #03A696;
$green: #63BF84;
$yellow: #F5E85D;
$orange: #F28963;
$darkgreen: #26A876;

h1 {
  display: flex;
  font-family: 'Baloo Da', cursive;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.card-form {
  display: flex;
  flex-direction: column;
  font-family: 'Baloo Da', cursive;
  justify-content: center;
  margin: 2% auto 0;
  max-width: 600px;

  input {
    margin-bottom: 5%;
  }

  .buttons {
    display:flex;
    justify-content: flex-start;
  }
}

.submit {
  background-color: $green;
  border-color: $darkgreen;
}

.submit:hover {
  background-color: $darkgreen;
}
