$darkblue: #024059;
$teal: #03A696;
$green: #63BF84;
$yellow: #F5ED0F;
$orange: #F28963;
$darkorange: #F5612F;
$darkgreen: #26A876;

Button {
  margin: 10px;
}

.photo {
  max-height: 200px;
}

.front-text {
  margin-top: 30px;
}

.flip-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  min-width: 350px;
  min-height: 500px;
  max-height: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  display:flex;
  justify-content: flex-start;
}

h3 {
  margin-top: 40px;
}

.edit {
  background-color: $green;
  border-color: $darkgreen;
}

.edit:hover {
  background-color: $darkgreen;
}
