@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');

$charcoal: #bbb;
$darkblue: #024059;
$teal: #03A696;
$green: #63BF84;
$yellow: #F5ED0F;
$orange: #F28963;
$grey: #383838;

footer {
  bottom: 0;
  margin-bottom: 0px;
  color: $grey;
  display: flex;
  height: 60px;
  padding-top: 15px;
  font-family: 'Baloo Da', cursive;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
}

a {
  margin-left: 5px;
  margin-right: 10px;
  color: $grey;
}

a:hover {
  color: $green;
}
