@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');

footer {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: black;
  background: grey;
  display: flex;
  font-family: 'Baloo Da', cursive;
  height: 60px;
  justify-content: center;
  opacity: 1;
  padding-top: 15px;
  position: absolute;
  text-shadow: 1px 1px;
  width: 100%;
}
